<div class="container">
   <div ng-if="false">
      <div ng-if="vm.data">
         <small>
            <span>Protocol: {{vm.protocol}}</span>
            <span>Host: {{vm.host}}</span>,
            <span>Port: {{vm.port}}</span>,
            <span>Path: {{vm.path}}</span>,
         </small>
      </div>
   </div>

   <h3>Page <span ng-if="vm.data">'{{vm.url}}'</span> Not Found! </h3>

   <div ng-if="vm.data">
      <h6>{{vm.protocol + '://' + vm.host + ':' + vm.port + vm.path}}</h6>
   </div>

   <hr>

   <div class="row">
      <div class="col-sm-12">
         <p>
            Sit porro optio inventore autem corrupti Veritatis nesciunt totam esse sit iste Quo omnis odio ab hic fugiat ipsam aliquid! Ex eligendi nam totam pariatur illo officiis nulla Maiores fuga
         </p>

         <p>
            Adipisicing in architecto earum vel mollitia soluta, vel. Maiores odit temporibus perspiciatis accusantium quod! Aut ad debitis sequi repellat repudiandae praesentium doloremque
         </p>

         <p> Amet sit eaque vel quis perferendis. Explicabo doloribus accusamus excepturi perspiciatis omnis, ducimus Veritatis dolorem iusto perferendis exercitationem reiciendis Voluptate hic temporibus enim?  </p>
      </div>
   </div>

   <hr>

   <div class="row">
      <div class="col-xs-4">Consectetur ex debitis quia reiciendis natus Consequuntur qui aliquam vel error odit! Praesentium suscipit beatae itaque cupiditate impedit deleniti?</div>
      <div class="col-xs-4">Sit laboriosam odio optio asperiores repellat voluptatum molestias.</div>
      <div class="col-xs-4">Amet officia qui accusamus dignissimos maiores. Dolores non vitae quisquam.</div>
   </div>

   <hr>

   <div class="row">
      <div class="col-sm-12">
         <p>
            Sit porro optio inventore autem corrupti Veritatis nesciunt totam esse sit iste Quo omnis odio ab hic fugiat ipsam aliquid! Ex eligendi nam totam pariatur illo officiis nulla Maiores fuga
         </p>

         <p>
            Adipisicing in architecto earum vel mollitia soluta, vel. Maiores odit temporibus perspiciatis accusantium quod! Aut ad debitis sequi repellat repudiandae praesentium doloremque
         </p>

         <p>
            Amet sit eaque vel quis perferendis. Explicabo doloribus accusamus excepturi perspiciatis omnis, ducimus Veritatis dolorem iusto perferendis exercitationem reiciendis Voluptate hic temporibus enim?
         </p>
      </div>
   </div>

</div>
