.home {
   .list-of-users {
      overflow: auto;
      max-height: 210px;
      table {
         width: 100% !important;
         padding: 0px !important;
         margin: 0px !important;
      }
   }
}
